<html>
<head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
   <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
   <title>IPOP Network Visualizer</title>
   <script type="text/javascript" src="{{ url_for('static',filename='js/jQuery.js') }}"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-app="IPOPApplication">
    <div class="container">
      <div class="col-md-2 left" id="network">
         <div class="text-center">Network Details</div>
         <svg xmlns="http://www.w3.org/2000/svg" id="svg_left" width="300" height="180">
         </svg>
         <div class="dropdown row">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
               Link Type
               <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" onclick="enableLink(event)">
               <li><a href="#">successor</a></li>
               <li><a href="#">chord</a></li>
               <li><a href="#">ondemand</a></li>
               <li><a href="#">All</a></li>
            </ul>
         </div>
         <div class="graphtext">Press the button to get selected node data</div>
         <div class="row">
         	<p id="text1" style="display:none;font-size: 15px;font-family: Arial;">Click on the Nodes(not more than 10)</p>
         	<input type="button" id="getgraphstate" onclick="getsubgraph(event)" value="Get SubGraph" class="btn btn-default">
            <input type="text" id="nodedisplaytext" style="display:none;font-size: 20px;font-family: Arial;" readonly>
         	<input type="button" id="resetgraphstate" onclick="resetgraph(event)" value="Submit" class="btn btn-default" style="display:none;">
         </div>
      </div>
		<div class="col-md-10 right" id="topology">
				<div class="row text-pos">
					<div class="col-md-12">
						<H1 style="color:white;">IPOP Network Visualizer</H1>
					</div>
				</div>
				<div class="loader" id="loading"></div>
				<svg xmlns="http://www.w3.org/2000/svg" id="svg" width="1700" height="950">
				</svg>
            <div id="modaldata"></div>
		</div>
		
	</div>
</body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/ipop.js') }}"></script>
</html>
