<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
		<script type="text/javascript" src="{{ url_for('static',filename='js/jQuery.js') }}"></script>
	</head>
	<body>
		<div>
		<svg id="svg" width="1500" height="1000" style="background-color: #285797;">
		</svg>
		</div>
		<div id="modaldata"></div>
	</body>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/subgraph.js') }}"></script>
</html>